@charset "ISO-8859-1";
.book-container{
 width: 1120px;
  margin-left: 210px;
  margin-top: 40px;
}
.book-title{
text-align: center;
  font-size: 40px;
  font-weight: bold;
  }
  
  .book-img{
	  margin-left: 235px;
  margin-top: 15px;
  width: 630px;
  }
  .book-description, .book-author-genre{
	  text-align: justify;
  
  margin-left: 100px;
  width: 950px;
  margin-top: 30px;
  margin-bottom: 10px;
  }
  