<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>Servlet.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addNewBook</servlet-name>
  	<display-name>addNewBook</display-name>
  	<description></description>
  	<servlet-class>Servlet.addNewBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bookDetails</servlet-name>
  	<display-name>bookDetails</display-name>
  	<description></description>
  	<servlet-class>Servlet.bookDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bookDirectoryMain</servlet-name>
  	<display-name>bookDirectoryMain</display-name>
  	<description></description>
  	<servlet-class>Servlet.bookDirectoryMain</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckEmailAvailabilityServlet</servlet-name>
  	<display-name>CheckEmailAvailabilityServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.CheckEmailAvailabilityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadPdfServlet</servlet-name>
  	<display-name>DownloadPdfServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.DownloadPdfServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>filterBooks</servlet-name>
  	<display-name>filterBooks</display-name>
  	<description></description>
  	<servlet-class>Servlet.filterBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginAdmin</servlet-name>
  	<display-name>loginAdmin</display-name>
  	<description></description>
  	<servlet-class>Servlet.loginAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getWishlistBooks</servlet-name>
  	<display-name>getWishlistBooks</display-name>
  	<description></description>
  	<servlet-class>Servlet.getWishlistBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removeBookFromWishlist</servlet-name>
  	<display-name>removeBookFromWishlist</display-name>
  	<description></description>
  	<servlet-class>Servlet.removeBookFromWishlist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>Servlet.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginUser</servlet-name>
  	<display-name>loginUser</display-name>
  	<description></description>
  	<servlet-class>Servlet.loginUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signupUser</servlet-name>
  	<display-name>signupUser</display-name>
  	<description></description>
  	<servlet-class>Servlet.signupUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchBooks</servlet-name>
  	<display-name>searchBooks</display-name>
  	<description></description>
  	<servlet-class>Servlet.searchBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addBookToWishlist</servlet-name>
  	<display-name>addBookToWishlist</display-name>
  	<description></description>
  	<servlet-class>Servlet.addBookToWishlist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadEpubServlet</servlet-name>
  	<display-name>DownloadEpubServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.DownloadEpubServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editProfile</servlet-name>
  	<display-name>editProfile</display-name>
  	<description></description>
  	<servlet-class>Servlet.editProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateUser</servlet-name>
  	<display-name>updateUser</display-name>
  	<description></description>
  	<servlet-class>Servlet.updateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteUser</servlet-name>
  	<display-name>deleteUser</display-name>
  	<description></description>
  	<servlet-class>Servlet.deleteUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchGoogle</servlet-name>
  	<display-name>searchGoogle</display-name>
  	<description></description>
  	<servlet-class>Servlet.searchGoogle</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewBook</servlet-name>
  	<url-pattern>/addNewBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bookDetails</servlet-name>
  	<url-pattern>/bookDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bookDirectoryMain</servlet-name>
  	<url-pattern>/bookDirectoryMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckEmailAvailabilityServlet</servlet-name>
  	<url-pattern>/CheckEmailAvailabilityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadPdfServlet</servlet-name>
  	<url-pattern>/DownloadPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>filterBooks</servlet-name>
  	<url-pattern>/filterBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginAdmin</servlet-name>
  	<url-pattern>/loginAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getWishlistBooks</servlet-name>
  	<url-pattern>/getWishlistBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeBookFromWishlist</servlet-name>
  	<url-pattern>/removeBookFromWishlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginUser</servlet-name>
  	<url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>signupUser</servlet-name>
  	<url-pattern>/signupUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchBooks</servlet-name>
  	<url-pattern>/searchBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addBookToWishlist</servlet-name>
  	<url-pattern>/addBookToWishlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadEpubServlet</servlet-name>
  	<url-pattern>/DownloadEpubServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editProfile</servlet-name>
  	<url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateUser</servlet-name>
  	<url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteUser</servlet-name>
  	<url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchGoogle</servlet-name>
  	<url-pattern>/searchGoogle</url-pattern>
  </servlet-mapping>
</web-app>
